{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="{% static 'assets/images/logo.jpeg'%}" type="image/png"/>
    <!-- Add other head elements here -->
	<!--plugins-->
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css'%}" rel="stylesheet"/>
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css'%}" rel="stylesheet " />
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css'%}" rel="stylesheet"/>
	<!-- loader-->
	<link href="{% static 'assets/css/pace.min.css'%}" rel="stylesheet "/>
	<script src="{% static 'assets/js/pace.min.js'%}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'assets/css/bootstrap-extended.css'%}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="{% static 'assets/css/app.css'%}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css'%}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css'%}"/>
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css'%}"/>
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css'%}"/>
	<title>Jamia Maarif e Islam & School System</title>
</head>

<body>


    <div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'assets/images/logo.jpeg '%}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<!-- <h4 class="logo-text"> Admin </h4> -->
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
				</div>
			 </div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="{% url 'dashboard' %}" >
						<div class="parent-icon"><i class='bx bx-home-alt'></i>
						</div>
						<div class="menu-title">Dashboard</div>
					</a>

				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-alt'></i>
						</div>
						<div class="menu-title">Student</div>
					</a>
					<ul>
						<li> <a href="{% url 'student_class' %}"><i class='bx bx-radio-circle'></i>student view</a>
						</li>
						<li> <a href="{% url 'add_student' %}"><i class='bx bx-radio-circle'></i>Add Student</a>
						</li>
                        <li> <a href="{% url 'class_add' %}"><i class='bx bx-radio-circle'></i>Classes</a>
						</li>
						<li> <a href="{% url 'section_add' %}"><i class='bx bx-radio-circle'></i>Section</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-alt'></i>
						</div>
						<div class="menu-title">Employess</div>
					</a>
					<ul>
						<li> <a href="employee.html"><i class='bx bx-radio-circle'></i>Employess view</a>
						</li>
						<li> <a href="Add_employee.html"><i class='bx bx-radio-circle'></i>Add Employess</a>
						</li>
					</ul>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
<!--start header -->
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand gap-3">
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
                </div>

                  <!-- <div class="search-bar d-lg-block d-none" data-bs-toggle="modal" data-bs-target="#SearchModal">
                     <a href="avascript:;" class="btn d-flex align-items-center"><i class='bx bx-search'></i>Search</a>
                  </div> -->

                  <div class="top-menu ms-auto">
                    <ul class="navbar-nav align-items-center gap-1">
                        <li class="nav-item dropdown dropdown-app">
                            <div class="dropdown-menu dropdown-menu-end p-0">
                                <div class="app-container p-2 my-2"></div> 
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="header-notifications-list"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="header-message-list"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

<!--end header -->
<main>
    {% block content %}
    <!-- Default content can go here -->
    {% endblock %}
</main>

<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
  <a href="{%static 'javaScript:; '%}" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<footer class="page-footer">
    <p class="mb-0">Copyright © 2022. All right reserved.</p>
</footer>
</div>
<!--end wrapper-->


<!-- search modal -->
<div class="modal" id="SearchModal" tabindex="-1">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
  <div class="modal-content">
    <div class="modal-header gap-2">
      <div class="position-relative popup-search w-100">
        <input class="form-control form-control-lg ps-5 border border-3 border-primary" type="search" placeholder="Search">
        <span class="position-absolute top-50 search-show ms-3 translate-middle-y start-0 top-50 fs-4"><i class='bx bx-search'></i></span>
      </div>
      <button type="button" class="btn-close d-md-none" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="search-list">
           <p class="mb-1">Html Templates</p>
           <div class="list-group">
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action active align-items-center d-flex gap-2 py-1"><i class='bx bxl-angular fs-4'></i>Best Html Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-vuejs fs-4'></i>Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-magento fs-4'></i>Responsive Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-shopify fs-4'></i>eCommerce Html Templates</a>
           </div>
           <p class="mb-1 mt-3">Web Designe Company</p>
           <div class="list-group">
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-windows fs-4'></i>Best Html Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-dropbox fs-4' ></i>Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-opera fs-4'></i>Responsive Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-wordpress fs-4'></i>eCommerce Html Templates</a>
           </div>
           <p class="mb-1 mt-3">Software Development</p>
           <div class="list-group">
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-mailchimp fs-4'></i>Best Html Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-zoom fs-4'></i>Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-sass fs-4'></i>Responsive Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-vk fs-4'></i>eCommerce Html Templates</a>
           </div>
           <p class="mb-1 mt-3">Online Shoping Portals</p>
           <div class="list-group">
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-slack fs-4'></i>Best Html Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-skype fs-4'></i>Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-twitter fs-4'></i>Responsive Html5 Templates</a>
              <a href="{%static 'javascript:;'%}" class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i class='bx bxl-vimeo fs-4'></i>eCommerce Html Templates</a>
           </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- end search modal -->


<!--start switcher-->
<div class="switcher-wrapper">
<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
</div>
<div class="switcher-body">
    <div class="d-flex align-items-center">
        <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
        <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
    </div>
    <hr/>
    <h6 class="mb-0">Theme Styles</h6>
    <hr/>
    <div class="d-flex align-items-center justify-content-between">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
            <label class="form-check-label" for="lightmode">Light</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
            <label class="form-check-label" for="darkmode">Dark</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
            <label class="form-check-label" for="semidark">Semi Dark</label>
        </div>
    </div>
    <hr/>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
        <label class="form-check-label" for="minimaltheme">Minimal Theme</label>
    </div>
    <hr/>
    <h6 class="mb-0">Header Colors</h6>
    <hr/>
    <div class="header-colors-indigators">
        <div class="row row-cols-auto g-3">
            <div class="col">
                <div class="indigator headercolor1" id="headercolor1"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor2" id="headercolor2"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor3" id="headercolor3"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor4" id="headercolor4"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor5" id="headercolor5"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor6" id="headercolor6"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor7" id="headercolor7"></div>
            </div>
            <div class="col">
                <div class="indigator headercolor8" id="headercolor8"></div>
            </div>
        </div>
    </div>
    <hr/>
    <h6 class="mb-0">Sidebar Colors</h6>
    <hr/>
    <div class="header-colors-indigators">
        <div class="row row-cols-auto g-3">
            <div class="col">
                <div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
            </div>
            <div class="col">
                <div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!--end switcher-->
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js '%}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js '%}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js '%}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js '%}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js '%}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js '%}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js '%}"></script>
<script src="{% static 'assets/plugins/chartjs/js/chart.js '%}"></script>
<script src="{% static 'assets/js/index.js '%}"></script>
<!--app JS-->
<script src="{% static 'assets/js/app.js '%}"></script>
<script>
new PerfectScrollbar(".app-container")
</script>

</body>
</html>