{% extends 'base.html' %}

{% block content %}
		<!--start page wrapper -->
		<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="row">
					<div class="col-xl-12 mx-auto">
						
						<div class="card">
							<div class="card-body p-4">
								{% if messages %}
								<div>
									{% for message in messages %}
										<div class="text-dark alert alert-success">
											{{ message }}
										</div>
									{% endfor %}
								</div>
								{% endif %}

							

								<h5 class="mb-4">Class Form</h5>
								<form method="post" class="row g-3">
									{% csrf_token %}
									<div class="col-xl-6 d-flex">
										<input type="text" class="form-control" name="add_class" id="student_name"  placeholder="Class Add">
									</div>
									<div class="col-xl-6">
										<div class="d-md-flex d-grid align-items-center gap-3">
											<button type="submit" class="btn btn-primary px-4">Submit</button>
										</div>
									</div>
									
								</div>
								</form>
				
							</div>
						</div>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <h5 class="mb-4">Classes List</h5>
                        <table class="table table-striped table-bordered" id="zero_config">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                </tr>
                                {%  for Class in Classes %}

                                <tr>
                                    <td>{{Class.class_name}}</td>
                                   
                                </tr>
                                {% endfor %}
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

		{% endblock %}